@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@100;500&display=swap');

body,
html {
    margin: 0;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

body {
    background-color: #0D1B2A;
}

header {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0 160px;
    column-gap: 45%;

}
button:hover{
    transform: scale(1.1);
    transition: 500ms;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 35px;
}

.inicio a {
    color: white;
}

.div_img {
    background-color: white;
    width: 9vw;
    height: 8vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_img img {
    width: 150px;
    height: 150px;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 35px;
    margin-top: 19px;

}

.entrar {
    background-color: white;
    color: #415A77;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    transition: 500ms;
}

.cadastrar {
    background-color: #415A77;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    transition: 500ms;

}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_pesquisar{
    background-color: #415A77;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 15px;
}
.class_filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    column-gap: 5px;
    padding: 15px 165px 0 0;
}
.input_estabelecimentos {
    background-color: white;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    height: 15px;
    font-size: 15px;
    color: black;
    padding: 10px 0 10px 10px;
  }